@import "colors";
@import "fonts";
@import "classes";

body {
    margin: 0px;
    background-color: #e3ddcc;
    font-family: $primaryFont;
}

header {
    color: $white;
    background-image: $mangoGradient;
    border: solid;
    border-color: red;
    padding: 4px;
    display: flex;
    grid-template-columns: 25% 50% 25%;

    nav {
        text-align: center;
        width: 100%;

        ul {
            list-style-type: none;
            font-size: 24px;
            width: 100%;
            padding: 0;
            margin: 0;

            li {
                height: 50%;
                width: 25%;
                float: left;

                border: solid;
                border-color: green;

                a {
                    border-radius: 10px;
                }

                a:hover {
                    background-color: $reverse;
                }
            }
        }
    }
}

a {
    color: $white;
    text-decoration: none;
}


footer{
    border: solid;
    border-color: red;
}
