<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Pet Palaces</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/content/header.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pages/content/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pages/content/footer.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>
<body>
    <div id="page">
        <header class="site-header">
            <div class="navbar">
                <div class="navbar-collapse">
                    <nav>
                        <div>
                            <div>
                                <ul>
                                    <li>Home</li>
                                    <li>Shop</li>
                                    <li>About</li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
    
        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>&copy; {{ year }} - Pet Palaces</p>
        </footer>
    </div>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>