<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Pet Palaces</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/content/main.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>
<body>
    <div class="page-structure">
        <header>
            <div class="page-brand">
                <div class="page-icon"></div>
                <div class="page-logo">Pet Palaces</div>
            </div>
            <nav class="nav-menu">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'shop' %}">Shop</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>   
            </nav>
            <div class="user-info">
                <div id="user-avatar"></div>
                <div id="user-name">Hi, Username!</div>
                <div class="login-signup">Log In / Sign Up</div>
            </div>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p>&copy; {{ year }} - Pet Palaces</p>
        </footer>
    </div>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>

</body>
</html>